* {
    padding: 0;
    margin: 0;
  }

a{
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    color: #000000;
    text-decoration: none;
} 

#carousel_controls{
    margin-bottom: 39px;
}

.carousel-inner{
    position: relative;
    width: 100%;
    margin: 0;
    left: 0;
    height: auto;  
}

.carousel-indicators{
    text-align: center;
    padding-top: 18px;
    margin: auto;
    bottom: -28px;
}  

.carousel-item img{
    width: 100%;
    max-height: 28em;
    min-height: 11em;
}

.carousel-indicators li{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 7px;   
    border: 1px solid #000000;
    border-radius: 50%;
    display: inline-block;
    transition: 0.6s ease;
}

.carousel-indicators li.active{
    background-color: #383838 ;
    border-color: #383838 ;
}

#navbar_logo{
    height: 55px;
    padding-left: 10px;
}

.navbar {
    padding: 10px 10px;
}

.navbar-nav{
    text-align: center;
}

.nav-item {
    background-color:#000000;
    padding-top: 12px;
    padding-bottom: 12px;
    color:#FFFFFF;
}

.nav-item:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    color: #000000;
}

.nav-item a{
    color: #FFFFFF;
}

.nav-item:hover a{
    color: #000000;
}

.navbar-toggler-icon{  
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0,0,0)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    width: 50px;
    height: 40px;
}

#navbar_supported_content {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 75px;
    left: 0px;
}

#search_btton{
    background-color: #383838  ;
    height: 45px;
    padding: 6px 16px;
    border: 1px solid #383838 ;
}

#search{
    width: 100%;
    height: 2em;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

::placeholder{
    color:lightgray;
}

#content_section{
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}

#choose_list_section {
    margin: 24px 16px 16px 16px;
}

.block-content {
    background-color: #383838 ;
    color: #FFFFFF;
    padding: 16px 20px 0px 23px;
    margin-top: 22px;
}

.block-content p{
    margin-top: 16px;
}

.body-content{
    margin: auto 15px;
}

.choose-block{
    padding: 0px;
}

.choose-block p{
    padding-top: 8px;
}

.list-block{
    border-top: 2px dashed #FFFFFF;
    padding: 31px 3px 2px 3px;
    margin-top: 32px;
}

.list-block ol{
    list-style-position:inside;
}

.list-block ol li{
    margin-bottom: 16px;
}

#page_footer {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    line-height: 40px;
    border-top: 1px solid #000000;
    margin: 0px 16px;
    font-size: 13px;
}

@media (min-width: 768px){
    #navbar_logo {
        height: 62px;
        padding-left: 10px;
    }

    #navbar_supported_content{
        position: absolute;
        z-index: 1;
        width: 65%;
        left: 0px;
        top: 82px;  
    }
    
    .navbar_nav{
        width:50%;
    }
    
    .nav-item {
        background-color: #383838;
        padding: 10px 25px 10px 25px;
    }
    
    #search {
        height: 2em;
        border: 1px solid #FFFFFF;
        border-radius: 33px;
        float: right;
        width: 30%;
    }  

    .block-content {
        background-color: #383838;
        color: #FFFFFF;
        padding: 16px 20px 0px 23px;
        margin: 22px 15px 0px 15px;
    }

    #content_section{
        margin: 13px;
        display: flex;
        flex-wrap: nowrap;
    }

    #choose_list_section{
        display: flex;
        margin: 27px 27px 16px 27px;
    }
    
    .choose-block {
        /* position: inherit; */
        padding: 0px;
        width: 130%;
    }
    
    .list-block {
        border-left: 2px dashed #FFFFFF;
        padding: 4px 3px 2px 22px;
        margin: 43px 0px 18px 32px;
        border-top: none;
    }
    
    #page_footer{
        margin: 0px 27px;
    }
}
